In [30]:
%ls

AACG_20210101_20211008.txt
AACG_20210101_20211008.zip
ISO10383_MIC.csv
ISO10383_MIC.xls
NASDAQ Data.ipynb
NASDAQ-SYMBOLS.txt
depth_in_dollars_by_individual_security_2013.zip
tickers-first10.json
tickers=allnasdaq.json

In [4]:
import numpy as np
import pandas as pd
import os
import json
# to handle  data retrieval
# import urllib3
# from urllib3 import request
import requests
import json

# to handle certificate verification
#import certifi
# to manage json data
#import json
# for pandas dataframes
#import pandas as pd
# uncomment below if installation needed (not necessary in Colab)
#!pip install certifi

In [32]:
symbols = pd.read_csv('NASDAQ-SYMBOLS.txt', '\t')

In [33]:
symbols.head(10)

  Symbol                      Description
0   AACG        Ata Creativity Global ADR
1  AACIU        Armada Acquisition Corp I
2   AADI             Aadi Biosciences Inc
3   AADR  Advisorshares Dorsey Wright ETF
4    AAL             American Airlines Gp
5   AAME                 Atlantic Amer Cp
6   AAOI                Applied Optoelect
7   AAON                         Aaon Inc
8   AAPL                        Apple Inc
9   AATC      Autoscope Technologies Corp

In [35]:

syms_df = pd.DataFrame(data=symbols, columns=['Symbol'])
syms_df.loc[0]

Symbol    AACG
Name: 0, dtype: object

In [49]:
import json
f = open('AACG_2000-06-01_2020-06-17')
df = pd.DataFrame(json.load(f))
df2 = pd.DataFrame()
for i in range(168):
    df2.append(json.load(df[:i]['results']))

df2

AttributeError: 'Series' object has no attribute 'read'

#### retrieve data for each Symbol since June 2020 and write to file. One line for each date.

In [50]:
url_prefix = 'https://api.polygon.io/v2/aggs/ticker/'
url_middle = '/range/1/day/'
url_start_date = '2000-06-01'
url_date_sep ='/'
url_end_date = '2020-06-17'
url_suffix = '?apiKey=Nq3dpLesjcUuxBDJiGBkhQSPQm2bnf99'

for i in range(len(symbols.index)):
    url=''
    #print(symbols.loc[i]['Symbol'])
    filename = symbols.loc[i]['Symbol']+'_'+url_start_date+'_'+url_end_date
    url += url_prefix
    url += symbols.loc[i]['Symbol']
    url += url_middle
    url += url_start_date+url_date_sep
    url += url_end_date+url_suffix
    
    r = requests.get(url)  

    with open(filename,'w') as fd:
        fd.write(r.text)

#### move files to empty that returned no rows. data should have all files with data remaining

In [72]:
import json
import os
import os
import shutil

#f = open('AACG_2000-06-01_2020-06-17')
#df = pd.DataFrame(json.load(f))
#df
#df2 = pd.DataFrame()
#for i in range(168):
#    df2.append(json.load(df[:i]['results']))

directory = r'.'
#count of empty files
empty_count = 0
total_count = 0
for entry in os.scandir(directory):
    if (entry.path.endswith("_2000-06-01_2020-06-17")):
        f2 = open(entry)
        data = json.load(f2)
        total_count += 1
 #       print("Path : "+entry.path +" Count :"+str(data['queryCount']))

        if (data['queryCount'] == 0):
            empty_count += 1
           # shutil.move(entry.path, "./empty/")
            os.remove(entry.path)
            
        f2.close()
#print ('Empty: '+str(empty_count)+ ' Total: '+str(total_count)+" Data files: "+str(total_count - empty_count))

#df2
#for filepath in glob.iglob(r'.\*_2000-06-01_2020-06-17'):
#    print(filepath)
#f2 = open('EJH_2000-06-01_2020-06-17')

#data = json.load(f2)
#print(data['queryCount'])

#### get the data

In [ ]:
f2 = open('EGLE_2000-06-01_2020-06-17')
data = json.load(f2)
#print(data['results'])
output = pd.DataFrame(data['results'])

output

In [44]:
import os
import re

count = 0
directory= './data'

for entry in [f for f in os.listdir(directory) if not f.startswith('.')]:
#for entry in os.scandir(directory):
 #   print(entry)
    output = pd.DataFrame()
    sym = []
    listOfSym = []
    sym = re.split("_", entry)

    f = open(directory+'/'+entry)
    data = json.load(f)        
    df = pd.DataFrame(data['results'])
    total_rows = len(df.index)
  #  print (total_rows)
#    listOfSym = [sym[0] for i in range(total_rows)]
    for i in range(total_rows):
        listOfSym.append(sym[0])
    df['Sym'] = listOfSym
#    df
#    output = pd.concat([output,df])
    df.to_csv('./csv/'+entry+'.csv')
        
output.head(20)

Empty DataFrame
Columns: []
Index: []

In [48]:
import datetime
timestamp = 1577941200000
dt_object = datetime.datetime.fromtimestamp(timestamp/1000.0)

print("dt_object =", dt_object)
print("type(dt_object) =", type(dt_object))

dt_object = 2020-01-02 00:00:00
type(dt_object) = <class 'datetime.datetime'>

In [21]:
import re
sym = []
fname = 'EGLE_2000-06-01_2020-06-17'
sym = re.split("_", fname)
print(sym[0])

EGLE

In [8]:
    f1 = open('EGLE_2000-06-01_2020-06-17')
    data = json.load(f1)        
    df1 = pd.DataFrame(data['results'])
    df1
    
    f2 = open('EGRX_2000-06-01_2020-06-17')
    data = json.load(f2)        
    df2 = pd.DataFrame(data['results'])
    df2
    
    f3 = open('EH_2000-06-01_2020-06-17')
    data = json.load(f3)        
    df3 = pd.DataFrame(data['results'])

    output = pd.concat([df1, df2, df3])
    output

FileNotFoundError: [Errno 2] No such file or directory: 'EGLE_2000-06-01_2020-06-17'

In [ ]:
type(f1)

In [24]:
url = 'https://api.polygon.io/v2/aggs/ticker/AAPL/range/1/day/2000-06-01/2020-06-17?apiKey=Nq3dpLesjcUuxBDJiGBkhQSPQm2bnf99'
import requests
from requests.exceptions import HTTPError


   response = requests.get(url)

In [25]:
response

In [26]:
print(response)

<Response [200]>